
<div class="diy-slideshow">
        <figure class="show"><img src="images/run.jpg" alt="" width="100%" /></figure>
        <figure><img src="images/bike.jpg" alt="" width="100%" /></figure>
        <figure><img src="images/swim.jpg" alt="" width="100%" /></figure>
            <span class="prev">«</span>
            <span class="next">»</span>
    </div>










<div class="section group">
            <div class="col span_4_of_4">
                <div class="racetimes">
                    <h2>Race Times</h2>

                    <h3>Saturday</h3>
                    <ul>
                    <li>Long Course Triathlon - 7:00 AM</li> 	  	
                    <li>Olympic Triathlon - 7:30 AM</li>	  	
                    <li>10K - 7:15 AM</li> 	  	
                    <li>Half Marathon - 7:15 AM</li>
                    </ul>

                    <h3>Sunday</h3>
                    <ul>
                    <li>Sprint Triathlon - 8:00 AM</li> 	  	
                    <li>Try-a-Tri - 8:20 AM</li>	  	
                    <li>Splash n Dash - 12:00 PM</li> 	  	
                    </ul> 
                    
                </div>
            </div>
        </div>

        <div class="section group">

            <div class="col span_1_of_4">
                <div class="card">
                    <article>
                        <h1>About the Event</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id lorem lobortis, cursus tortor vel, euismod justo. Fusce sodales, augue quis hendrerit mattis, elit sem imperdiet nunc, at dictum lacus urna nec leo. Praesent quis lorem elit. Mauris tristique diam quis justo congue porttitor. Nam ligula lectus, pharetra ornare nunc finibus, cursus ornare tellus. Fusce ornare sodales velit ut lobortis. Aenean porta at felis ac auctor. Nunc condimentum porta ligula, id facilisis risus cursus quis. Pellentesque at aliquam erat.
                        </p>
                    </article>
                </div>
            </div>

            <div class="col span_1_of_4">
                <div class="card">
                    <article>
                        <h1>What to Bring</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id lorem lobortis, cursus tortor vel, euismod justo. Fusce sodales, augue quis hendrerit mattis, elit sem imperdiet nunc, at dictum lacus urna nec leo. Praesent quis lorem elit. Mauris tristique diam quis justo congue porttitor. Nam ligula lectus, pharetra ornare nunc finibus, cursus ornare tellus. Fusce ornare sodales velit ut lobortis. Aenean porta at felis ac auctor. Nunc condimentum porta ligula, id facilisis risus cursus quis. Pellentesque at aliquam erat.
                        </p>
                    </article>
                </div>
            </div>

            <div class="col span_1_of_4">
                <div class="card">
                    <article>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id lorem lobortis, cursus tortor vel, euismod justo. Fusce sodales, augue quis hendrerit mattis, elit sem imperdiet nunc, at dictum lacus urna nec leo. Praesent quis lorem elit. Mauris tristique diam quis justo congue porttitor. Nam ligula lectus, pharetra ornare nunc finibus, cursus ornare tellus. Fusce ornare sodales velit ut lobortis. Aenean porta at felis ac auctor. Nunc condimentum porta ligula, id facilisis risus cursus quis. Pellentesque at aliquam erat.
                        </p>
                    </article>
                </div>
            </div>
            <div class="col span_1_of_4"> 
                <div class="card">
                    <article>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id lorem lobortis, cursus tortor vel, euismod justo. Fusce sodales, augue quis hendrerit mattis, elit sem imperdiet nunc, at dictum lacus urna nec leo. Praesent quis lorem elit. Mauris tristique diam quis justo congue porttitor. Nam ligula lectus, pharetra ornare nunc finibus, cursus ornare tellus. Fusce ornare sodales velit ut lobortis. Aenean porta at felis ac auctor. Nunc condimentum porta ligula, id facilisis risus cursus quis. Pellentesque at aliquam erat.
                        </p>
                    </article>
                </div>
            </div>
                
        </div>
